<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorTest1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorTest1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <header>
        <div>
            <a asp-area="" asp-page="/Index"><img src="~/images/JS logo.png" alt="Logo" width="100" /></a>
        </div>
        <div class="date">
            <p>Dagens Datum är: @DateTime.Now.ToString("yyyy-MM-dd")</p>
        </div>
        <i class="fa fa-bars fa-2x" onclick="toggleMenu()" id="hamburger"></i>
    </header>

    <div class="flex-container" >
        <!-- Sidomeny -->
        <div class="navbar" id="navMenu" style="flex-grow: 1; align-self: center">
            <nav>
                <ul>
                    <li>
                        <a asp-area="" asp-page="/Index">Start</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Razor">Razor</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/About">Om sidan</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Huvudinnehåll -->
        <main role="main" style="flex-grow: 8">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr>
        <div>
            <p>av Jonas Ståleker <br> Kontakta mig via e-post: jost2306@student.miun.se</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
