@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Om sidan</h1>
<p>Jag studerar webbutveckling på Mittuniversitetet och har snart avslutat två år av min utbildning. Under dessa år har jag fått möjlighet att utveckla mina kunskaper inom olika webbutvecklingstekniker, inklusive HTML, CSS, JavaScript, och C#. Jag är passionerad för att skapa användarvänliga och responsiva webbapplikationer och ser fram emot att fortsätta utvecklas inom området.</p>