@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Välkommen!</h1>
    <p>Denna webbplats är skapad som en del av min utbildning i webbutveckling med ASP.NET Core och Razor Pages. Här kan
        du ta del av tre undersidor:</p>
    <ul>
        <li><em>Startsidan</em> – Här hittar du lite grundläggande information om webbplatsen.</li>
        <li><em>Razor-sidan</em>– Denna sida innehåller dynamiskt innehåll som listas med Razor-syntax, inklusive de
            kurser jag har läst i programmet och information om veckodag vid besök.</li>
        <li><em>Om sidan</em>– Här får du veta mer om mig och mitt arbete med denna webbplats.</li>
    </ul>
    <p>Jag har använt Razor Pages för att skapa dessa sidor, och webbplatsen har stöd för statiska filer, CSS och JavaScript. Webbplatsen är responsiv och anpassar sig för att ge en bra användarupplevelse på både stora och små skärmar.</p>
    <p>Jag hoppas att du hittar något intressant och lärorikt här!</p>
</div>
